/* body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(https://i.pinimg.com/originals/0a/06/15/0a061580d2f8c2ad57cda4f77263b6aa.gif);
    background-repeat: no-repeat;
    background-color: black;
    background-position: left;
} */